body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: rgb(54, 54, 54);
}
#container {
    justify-content: center;
    align-items: center;
    text-align: center;
    color: aqua;
}

#opponent-choice {
    width: 280px;
    height: 280px;
    background-color: rgb(243, 248, 250); 
    border: solid 4px aqua;
}

#your-choice {
    width: 280px;
    height: 280px;
    background-color: rgb(243, 248, 250); 
    border: solid 4px aqua;
}

#choices {
}

#choices img {
    width: 80px;
    height: 80px;
    padding: 5px;
    margin-left: 10px;  
}

/* Media Query for Smaller Screens */
@media screen and (max-width: 488px) {
    #opponent-choice, #your-choice {
        width: 250px;
        height: 250px;
    }
    #choices img {
        width: 70px;
        height: 70px;
    }
}
